extends ../layout
block content
  .container
    .row
      form.form-horizontal(method="post",action="/admin/movie")
        //- hiden input???
        if movie._id
        input(type="hidden", name="movie[_id]", value=movie._id)
        .form-group
          label.col-sm-2.control-label(for="title") 电影名字
          div.col-sm-10
            input#title.form-control(type="text", name="movie[title]", value=movie.title)
        .form-group
          label.col-sm-2.control-label(for="director") 导演
          div.col-sm-10
            input#director.form-control(type="text", name="movie[director]", value=movie.director)
        .form-group
          label.col-sm-2.control-label(for="year") 上映年份
          div.col-sm-10
            input#year.form-control(type="text", name="movie[year]", value=movie.year)
        .form-group
          label.col-sm-2.control-label(for="country") 国家
          div.col-sm-10
            input#country.form-control(type="country", name="movie[country]", value=movie.country)
        .form-group
          label.col-sm-2.control-label(for="language") 语言
          div.col-sm-10
            input#language.form-control(type="text", name="movie[language]", value=movie.language)
        .form-group
          label.col-sm-2.control-label(for="poster") 封面
          div.col-sm-10
            input#poster.form-control(type="text", name="movie[poster]", value=movie.poster)
        .form-group
          label.col-sm-2.control-label(for="flash") 视频地址
          div.col-sm-10
            input#flash.form-control(type="text", name="movie[flash]", value=movie.flash)
        .form-group
          label.col-sm-2.control-label(for="summary") 简介
          div.col-sm-10
            input#summary.form-control(type="text", name="movie[summary]", value=movie.summary)
        .form-group
          .col-sm-offset-2.col-sm-10
            button.btn.btn-default(type="submit") 录入
